<div class="grid place-items-center">
    <app-header [headerText] = "headerText"></app-header>
    <section id="pokemon" *ngIf="pokemon !== null">
        <ul *ngFor="let pokemon of pokemon.results">
            <li>
                {{pokemon.name}}
                <button id = "someFunc">Catch {{pokemon.name}} !</button>
            </li>
        </ul> <!--Cant seem to accses the propper values from the json file?..-->
        <ul>listed item</ul>
        
        
    </section>
</div>



<!--<ul id = "pokemon">{{pokemon}}</ul>-->